@font-face{
  src: url('../assets/fonts/Nunito-Bold.ttf');
  font-family: 'bold';
}
@font-face{
  src: url('../assets/fonts/Nunito-Regular.ttf');
  font-family: 'regular';
}
@font-face{
  src: url('../assets/fonts/Nunito-Light.ttf');
  font-family: 'light';
}
:root{
--blue:#4e73df;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#e74a3b;--orange:#fd7e14;--yellow:#f6c23e;--green:#1cc88a;--teal:#20c9a6;--cyan:#36b9cc;--white:#fff;--gray:#858796;--gray-dark:#5a5c69;--primary:#4e73df;--secondary:#858796;--success:#1cc88a;--info:#36b9cc;--warning:#f6c23e;--danger:#e74a3b;--light:#f8f9fc;--dark:#5a5c69;--transparent:
rgba(255,255,255,0.2);--dark-transparent: rgba(0,0,0,.5);--primary-transparent:
rgba(51,115,223,0.2);--shadow: rgba(0,0,0,0.1);
}
::-webkit-scrollbar{
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: regular;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  list-style: none;
}
.wrap{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}
.wrap img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.wrap h3{
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrap p{
  font-family: light;
  color: var(--dark-transparent);
}